<header id="siteHeader" class="row align-items-center mb-4 pt-2">
    <img  id="logoSite" class="col-sm-1 img-fluid" alt="us-logo" src="./images/US_BN.png">
    <h2 class="col-sm-2 fw-light">
        <i class="fab fa-accusoft"></i>
        IISSI-2 TI3
    </h2>
    <h4 class="col-sm-5  fw-light">Servidor Web (Maqueta BootStrap)</h4>

    <!-- Menú collapsable -->
    <nav class="col-sm-3 navbar navbar-expand-lg navbar-dark px-2">
        <button class="navbar-toggler p-0" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarNav" >
                <span class="navbar-toggler-icon"></span >
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav p-0"> <!-- Añadir iDs a todos los nav-item para mostrar y ocultar en función de usuario conectado o anónimo-->
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="fa fa-home"></i> Inicio
                    </a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link"href="text.html">
                        <i class="fa fa-book"></i> Texto
                    </a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="images.html">
                        <i class="fa fa-camera"></i> Multimedia
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>