<!-- Para hacer includes de código HTML en esta página -->
    <title>US Web</title>
    <meta charset="utf-8">
    <!-- ViewPort -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/favicon.ico">
    <!-- Librería BootStrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- Librería FontAwesome -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!-- CSS añadido -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">


